## Заранее извиняюсь за отсутствие нормальной подсветки синтаксиса в этом примере и далее.
## Хоть "ini" и содержится в списке форматов поддерживаемых Хабром, код красивым не становится.
## Если кто знает, как это починить - пожалуйста напишите в личку.
#
# Корневой файл EditorConfig
root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
insert_final_newline = true
# отступы в 2 пробела
indent_style = space
indent_size = 2
